<a href="https://colab.research.google.com/github/VertiHvost/Pyrhon_Base/blob/main/Working_out_Variables_and_simple_data_types_156_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Переменные и простые типы данных

## 1. Числовые типы данных (int, float)

1. Создайте переменную x и присвойте ей значение 10.

In [19]:
x = 10
x

10

2. Создайте переменную y и присвойте ей значение 5.5.

In [28]:
y = 5.5
y

5.5

3. Создайте переменную z и присвойте ей сумму x и y.

In [29]:
z = y + x
z

15.5

4. Создайте переменную w и присвойте ей произведение x и y.

In [30]:
w = y * x
w

55.0

5. Создайте переменную a и присвойте ей результат деления x на y.

In [31]:
a = x / y
print(a)

1.8181818181818181

6. Создайте переменную b и присвойте ей результат возведения x в квадрат.

In [32]:
b = x**2
b

100

7. Создайте переменную c и присвойте ей результат деления y на x с округлением до одного знака после запятой.

In [55]:
c =  y / x

print("Способ 1: ", "{:.1f}".format(c))
print("Способ 2: ", "%.1f" % c)
print("Способ 3: ", round(c,1))

Способ 1:  0.6
Способ 2:  0.6
Способ 3:  0.6

8. Создайте переменную d и присвойте ей результат целочисленного деления x на y.

In [64]:
d = x // y
d

1.0

9. Создайте переменную e и присвойте ей остаток от деления x на y.

In [66]:
e = x % y
e

4.5

10. Создайте переменную f и присвойте ей результат сложения x, y и z.

In [67]:
f = x + y + z
f

31.0

## 2. Строки (str)

1. Создайте переменную name и присвойте ей ваше имя.

In [89]:
name = "Андрей"
name

'Андрей'

2. Создайте переменную greeting и присвойте ей строку "Hello, " + name.

In [71]:
greeting = "Hello, " + name
greeting

'Hello, Андрей'

3. Создайте переменную message и присвойте ей строку "My name is " + name.

In [74]:
message = "My name is " + name
print(message)

My name is Андрей

4. Создайте переменную length и присвойте ей длину строки name.

In [76]:
length = len(name)
length

6

5. Создайте переменную upper_name и присвойте ей строку name в верхнем регистре.

In [78]:
upper_name = name.upper()
upper_name

'АНДРЕЙ'

6. Создайте переменную lower_name и присвойте ей строку name в нижнем регистре.

In [82]:
lower_name = name.lower()
print(lower_name)

андрей

7. Создайте переменную first_letter и присвойте ей первый символ строки name.

In [90]:
ferst_letter = name[0]
print(ferst_letter)

А

8. Создайте переменную last_letter и присвойте ей последний символ строки name.

In [92]:
last_letter = name[-1]
last_letter

'й'

9. Создайте переменную reversed_name и присвойте ей строку name в обратном порядке.

In [109]:
reversed_name = name[::-1]
print(reversed_name)

йерднА

10. Создайте переменную name_length и присвойте ей строку "Your name has " + str(len(name)) + " letters".

In [110]:
name_length = "Your name has " + str(len(name)) + " letters"
print(name_length)

Your name has 6 letters

## 3. Логический тип данных (bool)

1. Создайте переменную is_active и присвойте ей значение True.

In [112]:
is_active = True
is_active

True

2. Создайте переменную is_admin и присвойте ей значение False.

In [113]:
is_admin = False
is_admin

False

3. Создайте переменную is_equal и присвойте ей результат сравнения x и y на равенство.

In [116]:
is_equal = x == y
is_equal

False

4. Создайте переменную is_greater и присвойте ей результат сравнения x и y (x > y).

In [118]:
is_greater = x > y
is_greater

True

5. Создайте переменную is_less и присвойте ей результат сравнения x и y (x < y).

In [119]:
is_less = x < y
is_less

False

6. Создайте переменную is_not_equal и присвойте ей результат сравнения x и y на неравенство.

In [120]:
is_not_equal = x != y
is_not_equal

True

7. Создайте переменную is_positive и присвойте ей результат проверки, является ли x положительным числом.

In [122]:
is_positive = x > 0
is_positive

True

8. Создайте переменную is_negative и присвойте ей результат проверки, является ли y отрицательным числом.

In [123]:
is_negative = y < 0
is_negative

False

9. Создайте переменную is_zero и присвойте ей результат проверки, равно ли x нулю.

In [124]:
is_zero = x == 0
is_zero

False

10. Создайте переменную is_even и присвойте ей результат проверки, является ли x чётным числом.

In [132]:
is_even = x % 2
print(is_even == 0)

True

## 4. Преобразование типов данных

1. Преобразуйте переменную x в строку и сохраните результат в переменной x_str.

In [145]:
x_str = str(x)
print("Тип: ", type(x_str),  "\nЗначение: ", x_str)

Тип:  <class 'str'>
Значение:  10

2. Преобразуйте переменную y в целое число и сохраните результат в переменной y_int.

In [147]:
y_int = int(y)
y_int

5

3. Преобразуйте переменную name в список символов и сохраните результат в переменной name_list.

In [149]:
name_list = list(name)
name_list

['А', 'н', 'д', 'р', 'е', 'й']

4. Преобразуйте переменную x в число с плавающей точкой и сохраните результат в переменной x_float.

In [150]:
x_float = float(x)
x_float

10.0

5. Преобразуйте переменную y в строку и сохраните результат в переменной y_str.

In [151]:
y_str = str(y)
y_str

'5.5'

6. Преобразуйте переменную is_active в целое число и сохраните результат в переменной is_active_int.

In [154]:
is_active_int = int(is_active)
type(is_active_int)

int

7. Преобразуйте переменную is_admin в строку и сохраните результат в переменной is_admin_str.

In [156]:
is_admin_str = str(is_admin)
type(is_admin_str)

str

8. Преобразуйте переменную x в логическое значение и сохраните результат в переменной x_bool.

In [161]:
x_bool = bool(x)
x_bool

True

9. Преобразуйте переменную y в логическое значение и сохраните результат в переменной y_bool.

In [163]:
y_bool = bool(y)
y_bool

True

10. Преобразуйте переменную name в логическое значение и сохраните результат в переменной name_bool.

In [172]:
name_bool = bool(name)
name_bool

True

## 5. Арифметические операции

1. Создайте переменную sum_xy и присвойте ей сумму x и y.

In [3]:
x = 10
y = 5.5
sum_xy = x + y
sum_xy

15.5

2. Создайте переменную diff_xy и присвойте ей разность x и y.

In [4]:
diff_xy = x - y
diff_xy

4.5

3. Создайте переменную prod_xy и присвойте ей произведение x и y.

In [6]:
prod_xy = x * y
prod_xy

55.0

4. Создайте переменную quotient_xy и присвойте ей результат деления x на y.

In [7]:
quotient_xy = x / y
quotient_xy

1.8181818181818181

5. Создайте переменную remainder_xy и присвойте ей остаток от деления x на y.

In [9]:
remainder_xy = x % y
remainder_xy

4.5

6. Создайте переменную power_xy и присвойте ей результат возведения x в степень y.

In [11]:
power_xy = x ** y
power_xy

316227.7660168379

7. Создайте переменную floor_div_xy и присвойте ей результат целочисленного деления x на y.

In [13]:
floor_div_xy = x // y
floor_div_xy

1.0

8. Создайте переменную abs_diff и присвойте ей модуль разности y и x.

In [17]:
abs_diff = abs(y - x)
abs_diff

4.5

9. Создайте переменную avg_xy и присвойте ей среднее арифметическое x и y.

In [ ]:
avg_xy = (x + y) / 2
avg_xy

10. Создайте переменную sqrt_x и присвойте ей квадратный корень из x.

In [18]:
sqrt_x = x ** 0.5
sqrt_x

3.1622776601683795

## 6. Работа с числами

1. Проверьте, является ли x положительным числом.

2. Проверьте, является ли y отрицательным числом.

3. Проверьте, является ли x чётным числом.

4. Проверьте, является ли y нечётным числом.

5. Проверьте, делится ли x на 3 без остатка.

6. Проверьте, делится ли y на 5 без остатка.

7. Проверьте, является ли x двузначным числом.

8. Проверьте, является ли y трёхзначным числом.

9. Проверьте, является ли x простым числом.

10. Проверьте, является ли y составным числом.

## 7. Работа со строками

1. Проверьте, начинается ли строка name с буквы A.

2. Проверьте, заканчивается ли строка name на букву a.

3. Проверьте, содержит ли строка name букву e.

4. Проверьте, содержит ли строка name цифры.

5. Проверьте, является ли строка name пустой.

6. Проверьте, является ли строка name палиндромом.

7. Замените все пробелы в строке name на символ -.

8. Разделите строку name на список слов.

9. Объедините список слов в строку с пробелами.

10. Удалите все пробелы в строке name.

## 8. Логические операции

1. Проверьте, является ли x положительным и чётным числом.

2. Проверьте, является ли y отрицательным или нечётным числом.

3. Проверьте, является ли x двузначным и делится ли оно на 5.

4. Проверьте, является ли y трёхзначным и делится ли оно на 3.

5. Проверьте, является ли x простым и чётным числом.

6. Проверьте, является ли y составным и нечётным числом.

7. Проверьте, является ли x положительным или нулём.

8. Проверьте, является ли y отрицательным или нулём.

9. Проверьте, является ли x двузначным или трёхзначным числом.

10. Проверьте, является ли y однозначным или двузначным числом.

## 9. Преобразование и форматирование

1. Преобразуйте число x в строку и добавьте к нему строку " is a number".

2. Преобразуйте число y в строку и добавьте к нему строку " is a float".

3. Преобразуйте строку name в верхний регистр и добавьте к ней строку " IS MY NAME".

4. Преобразуйте строку name в нижний регистр и добавьте к ней строку " is my name".

5. Преобразуйте число x в строку и добавьте к нему строку " squared is " + str(x ** 2).

6. Преобразуйте число y в строку и добавьте к нему строку " divided by 2 is " + str(y / 2).

7. Преобразуйте строку name в список символов и выведите его.

8. Преобразуйте список символов обратно в строку и выведите её.

9. Преобразуйте число x в логическое значение и выведите его.

10. Преобразуйте строку name в логическое значение и выведите его.

## 10. Простые задачи

1. Создайте переменную age и присвойте ей ваш возраст.

2. Создайте переменную year и присвойте ей текущий год.

3. Создайте переменную birth_year и присвойте ей год вашего рождения.

4. Создайте переменную age_in_5_years и присвойте ей ваш возраст через 5 лет.

5. Создайте переменную days_in_year и присвойте ей количество дней в году.

6. Создайте переменную seconds_in_minute и присвойте ей количество секунд в минуте.

7. Создайте переменную minutes_in_hour и присвойте ей количество минут в часе.

8. Создайте переменную hours_in_day и присвойте ей количество часов в сутках.

9. Создайте переменную seconds_in_day и присвойте ей количество секунд в сутках.

10. Создайте переменную days_in_week и присвойте ей количество дней в неделе.

## 11. Работа с числами и строками

1. Создайте переменную num_str и присвойте ей строку "123".

2. Преобразуйте строку num_str в целое число и сохраните результат в переменной num_int.

3. Преобразуйте строку num_str в число с плавающей точкой и сохраните результат в переменной num_float.

4. Создайте переменную float_str и присвойте ей строку "45.67".

5. Преобразуйте строку float_str в число с плавающей точкой и сохраните результат в переменной float_num.

6. Создайте переменную bool_str и присвойте ей строку "True".

7. Преобразуйте строку bool_str в логическое значение и сохраните результат в переменной bool_val.

8. Создайте переменную int_str и присвойте ей строку "100".

9. Преобразуйте строку int_str в целое число и сохраните результат в переменной int_num.

10. Создайте переменную str_num и присвойте ей строку "3.14".

11. Преобразуйте строку str_num в число с плавающей точкой и сохраните результат в переменной float_num.

12. Создайте переменную bool_num и присвойте ей строку "0".

13. Преобразуйте строку bool_num в логическое значение и сохраните результат в переменной bool_val.

14. Создайте переменную empty_str и присвойте ей пустую строку "".

15. Преобразуйте строку empty_str в логическое значение и сохраните результат в переменной bool_val.

16. Создайте переменную zero_str и присвойте ей строку "0".

17. Преобразуйте строку zero_str в логическое значение и сохраните результат в переменной bool_val.

18. Создайте переменную one_str и присвойте ей строку "1".

19. Преобразуйте строку one_str в логическое значение и сохраните результат в переменной bool_val.

20. Создайте переменную true_str и присвойте ей строку "True".

21. Преобразуйте строку true_str в логическое значение и сохраните результат в переменной bool_val.

22. Создайте переменную false_str и присвойте ей строку "False".

23. Преобразуйте строку false_str в логическое значение и сохраните результат в переменной bool_val.

24. Создайте переменную none_str и присвойте ей строку "None".

25. Преобразуйте строку none_str в логическое значение и сохраните результат в переменной bool_val.

26. Создайте переменную space_str и присвойте ей строку " ".

27. Преобразуйте строку space_str в логическое значение и сохраните результат в переменной bool_val.

28. Создайте переменную newline_str и присвойте ей строку "\n".

29. Преобразуйте строку newline_str в логическое значение и сохраните результат в переменной bool_val.

30. Создайте переменную tab_str и присвойте ей строку "\t".

31. Преобразуйте строку tab_str в логическое значение и сохраните результат в переменной bool_val.

32. Создайте переменную comma_str и присвойте ей строку ",".

33. Преобразуйте строку comma_str в логическое значение и сохраните результат в переменной bool_val.

34. Создайте переменную dot_str и присвойте ей строку ".".

35. Преобразуйте строку dot_str в логическое значение и сохраните результат в переменной bool_val.

36. Создайте переменную colon_str и присвойте ей строку ":".

37. Преобразуйте строку colon_str в логическое значение и сохраните результат в переменной bool_val.

38. Создайте переменную semicolon_str и присвойте ей строку ";".

39. Преобразуйте строку semicolon_str в логическое значение и сохраните результат в переменной bool_val.

40. Создайте переменную exclamation_str и присвойте ей строку "!".

41. Преобразуйте строку exclamation_str в логическое значение и сохраните результат в переменной bool_val.

42. Создайте переменную question_str и присвойте ей строку "?".

43. Преобразуйте строку question_str в логическое значение и сохраните результат в переменной bool_val.

44. Создайте переменную quote_str и присвойте ей строку "'".

45. Преобразуйте строку quote_str в логическое значение и сохраните результат в переменной bool_val.

46. Создайте переменную double_quote_str и присвойте ей строку "\"".

47. Преобразуйте строку double_quote_str в логическое значение и сохраните результат в переменной bool_val.

48. Создайте переменную backslash_str и присвойте ей строку "\\".

49. Преобразуйте строку backslash_str в логическое значение и сохраните результат в переменной bool_val.

50. Создайте переменную slash_str и присвойте ей строку "/".

51. Преобразуйте строку slash_str в логическое значение и сохраните результат в переменной bool_val.

52. Создайте переменную pipe_str и присвойте ей строку "|".

53. Преобразуйте строку pipe_str в логическое значение и сохраните результат в переменной bool_val.

54. Создайте переменную tilde_str и присвойте ей строку "~".

55. Преобразуйте строку tilde_str в логическое значение и сохраните результат в переменной bool_val.

56. Создайте переменную asterisk_str и присвойте ей строку "*".